* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 20px;
    position: relative;
    h1 {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
    ul {
        list-style-type: none;
        .trainCard {
            margin-bottom: 30px;
            li {
                text-transform: uppercase;
            }
        }
    }
    .pagination {
        display: flex;
        justify-content: flex-end;
        a {
            text-decoration: none;
        }
        li {
            padding: 0 10px;
            color: black;
        }
    }
}
