* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 20px;
  position: relative;
}
main h1 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
main ul {
  list-style-type: none;
}
main ul .trainCard {
  margin-bottom: 30px;
}
main ul .trainCard li {
  text-transform: uppercase;
}
main .pagination {
  display: flex;
  justify-content: flex-end;
}
main .pagination a {
  text-decoration: none;
}
main .pagination li {
  padding: 0 10px;
  color: black;
}